<div *ngIf="key">
  
  <div class="d-flex mt-3">
    <div>
      <h4 class="txt-success">Welcome , {{ Name }}</h4>
    </div>
    <!-- <div class=" ms-auto"><a class="btn btn-primary" routerLink="userCart">Cart 🛒</a></div> -->

    <div class="ms-auto">
      <button class="btn btn-danger" (click)="logOut()">Logout</button>
    </div>
  </div>

  <div class="container">
    <h3 class="text-primary">Ready for adding products to the database</h3>
  </div>


<app-addproduct></app-addproduct>
</div>