.title {
  background-image: url(../../assets/headerBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo img {
  width: 70%;
  padding: 1%;
  max-height: 400px;
}

.logo {
  text-align: center;
  margin: auto;
  display: block;
}
