.title {
  background-image: url(../../assets/headerBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}
.logo img {
  width: 75%;
  margin: auto;
  padding: 3%;
  max-height: 450px;
}

.logo {
  text-align: center;
  margin: auto;
  display: block;
}
