<footer>
  <div class="bg-green p-3">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12 segment md-mb-30 sm-mb-30">
          <h5>FarmFresh</h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12 segment md-mb-30 sm-mb-30">
          <h5>&nbsp;Help</h5>
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Vendor-connect</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment sm-mb-30">
          <h5>Get Social with Us</h5>
          <p class="mb-0">Follow us on</p>
          <i class="bi bi-instagram text-danger fs-2 px-1"></i>
          <i class="bi bi-facebook text-primary fs-2 px-1"></i>
          <i class="bi bi-twitter text-info fs-2 px-1"></i>
          <i class="bi bi-pinterest text-danger fs-2 px-1"></i>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment sm-mb-30">
          <h5>Payment Options:</h5>
          <ul>
            <li><a href="#">netBanking</a></li>
            <li><a href="#">Credit Card</a></li>
            <li><a href="#">Debit Card</a></li>
            <li><a href="#">UPI</a></li>
          </ul>
          <form action="">
            <input type="email" />
            <input type="submit" value="Email" />
          </form>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 segment md-mb-30 sm-mb-30">
          <h5>Locations</h5>
          <ul>
            <li><a href="#">Hyderabad</a></li>
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Banglore</a></li>
            <li><a href="#">Vizag</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center p-3 bg-green mb-0">
    Copyright © 2020-2022 FarmFresh Grocery Supplies Pvt Ltd
  </p>
</footer>
