p {
  color: #999;
  line-height: 25px;
}
h5,
h3 {
  color: #fff;
}

.segment h5 {
  font-family: Poppins;
  text-transform: uppercase;
  color: #fff;
}

.segment ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment ul li {
  line-height: 40px;
}
.segment ul li a {
  color: #999;
  text-decoration: none;
}
.segment ul li a:hover {
  color: #c65039;
}

.segment form input[type="submit"] {
  background: #c65039;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
}

.bg-green {
  background: rgb(4, 67, 67);
}
