<div class="container-fluid m-0 p-3" style="background-color: rgb(4, 67, 67)">
  <div class="container" style="color: silver">
    <div class="row p-2">
      <div class="col md-6">
        <h3>Locations</h3>
        <ul>
          <li>Hyderabad</li>
          <li>Mumbai</li>
          <li>Bangalore</li>
          <li>Chennai</li>
        </ul>
      </div>
      <div class="col md-6">
        <h3>Contact Us</h3>
        <h5 class="d-inline">
          Email: </h5>
        <p class="d-inline">Farmfresh@domain.com</p>
        <br />
        <h5 class="d-inline">Telephone: </h5>
        <p class="d-inline">123456789</p>
      </div>
    </div>
    <h6 class="d-inline">Convenience at its best:</h6>
    <p class="d-inline">
      With 30,000+ products in store, Spencer’s offers you the convenience of
      ordering online and getting all your products delivered right at your
      doorstep in a maximum of 3 hours. Get all your online grocery shopping
      done in a matter of minutes.
    </p>
    <br />
    <br />

    <h6 class="d-inline">You Name It, We Have It:</h6>
    <p class="d-inline">
      Spencer’s meets all your grocery and home-based needs across categories
      like Fruits & Vegetables, Groceries & Staples, Organic, Bakery & Eggs &
      Dairy, Coffee &Tea & Beverages, Packaged Food, Imported & Gourmet, Fish &
      Meat, Baby Care, Personal Care, Bathroom & Cleaning, Home & Dining
    </p>
    <br />
    <br />

    <!-- <h6 class="d-inline">Our Service Locations:</h6>
    <p class="d-inline">
      With a constantly growing network, Spencer’s is currently providing its
      service to the cities of Kolkata, Noida, Gurgaon, Delhi, Ghaziabad,
      Chennai, Hyderabad, Lucknow, Vizag.
    </p> 
    <br />
    <br />-->

    <h6 class="d-inline">Payment Options:</h6>
    <p class="d-inline mb-0">
      There are a number of cashless payment options that are available to
      customers like Net Banking, PayTM, Card on Delivery that make it
      convenient for everyone to pay. Avail of great online grocery offers and
      discounts by ordering online and making your life easy and simple.
    </p>
  </div>
</div>

<div class="container-fluid bg-dark text-muted m-0">
  <div class="container">
    Copyright © 2020-2022 FarmFresh Grocery Supplies Pvt Ltd
  </div>
</div>
