<footer>
  
  <div class="footer-top">
    
    <div class="container "> 
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
          <h2>FarmFresh</h2>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        
        <div class="col-md-2 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
          <h2>Help</h2>
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Vendor Connect</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
          <h2>Get Social with Us</h2>
          <p>Follow us on</p>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
          <h2>Payment Options:</h2>
          <ul>
            <li><a href="#">netBanking</a></li>
            <li><a href="#">Credit Card</a></li>
            <li><a href="#">Debit Card</a></li>
            <li><a href="#">UPI</a></li>
          </ul>
          <form action="">
            <input type="email">
            <input type="submit" value="Email">
          </form>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 segment-five md-mb-30 sm-mb-30">
          <h2>Locations</h2>
          <ul>
            <li><a href="#">Hyderabad</a></li>
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Banglore</a></li>
            <li><a href="#">Vizag</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="footer-bottom-text">Copyright © 2020-2022 FarmFresh Grocery Supplies Pvt Ltd</p>
</footer>
