<div class="container mt-3">
  <div class="position-relative gifmain">
    <!-- BIRD GIF -->
    <img
      src="../../assets/bird.gif"
      alt="random image"
      width="100%"
      height="auto"
    />
    <div
      class="text-white mb-0 text-center position-absolute bottom-0 start-50 translate-middle-x"
      style="background-color: rgb(4, 67, 67); width: fit-content"
    >
      <p style="font-size: 1.7vw; margin-bottom: 0">
        Our aim is to redefine India’s freshest and finest food experience for
        our customers.<br />
        For us, our customers’ needs come first and to serve them better and
        offer the best in terms of quality, benefits, flavour and taste.
      </p>
    </div>
  </div>
</div>
<!-- VIDEO -->
<div class="container mt-3 text-center">
  <video controls>
    <source src="../../assets/aboutVideo.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<!-- TILES -->
<div class="container">
  <div class="cardGroup">
    <div class="item"
      >
        &nbsp;&nbsp;<i class="fas fa-carrot" aria-hidden="true">&nbsp;100% ORGANIC</i>
        <p>
          All our vegetables are fresh, organic and local. Animals are raised
          without added hormones or antibiotics. Good for your health, the
          environment, and it also tastes better!
        </p>
      </div>
  
  
    <div class="item"
      >
        &nbsp;&nbsp;<i class="fas fa-truck" aria-hidden="true">&nbsp; FAST FREE DELIVERY</i>
        <p>
          We have developed an effective and fast delivery network. We give our
          clients the earliest delivery consistent with quality, whatever the
          inconvenience to us be.
        </p>
      </div>
  
  
    <div class="item">
        &nbsp;&nbsp;<i class="fas fa-trophy" aria-hidden="true">&nbsp; RICH EXPERIENCE</i>
        <p>
          We are working with organic products for 14 years and to be honest this
          is the best job ever – to see the people’s smiles when they taste our
          fresh food!
        </p>
      </div>
   
  
    <div class="item">
      &nbsp;&nbsp;<i class="fas fa-shopping-cart" aria-hidden="true">&nbsp; ORDER ANYTHING</i>
      <p>
        We don't limit your creativity, which means you can order whatever you
        feel like. You can choose from our menu. It's up to you!
      </p>
    </div>
  </div>
</div>

<!-- text -->
<div
  style="
    background-color: rgb(4, 67, 67);
    border-radius: 10px;
    opacity: 0.8;
  "
  class="text-light container mt-3 p-3"
>
  <i class="far fa-handshake">&nbsp; OUR RELATION</i>
  <p>
    We are proud to be associated closely with the farmers from whom we source
    our fresh products. Most of our farm-fresh products are sourced directly
    from farmers, which not only ensures the best prices and freshest products
    for our customers but also helps the farmers get better prices. With more
    than 80 Organic Fruits and Vegetables and a wide range of organic staples,
    bigbasket has the largest range in the organic products category.
  </p>
</div>

<!-- IMAGES -->
<div class="row m-3">
  <div class="col gallery " style="width:100%;">
    <i class="fa fa-camera-retro text-light p-1 pl-3 mb-0 fs-2" aria-hidden="true">&nbsp; Gallery</i>
    <div class="row">
      <div class="col pic1">
        <img src="../../assets/3.jpg" alt="gallery" style="width:100%">
      </div>
      <div class="col pic2">
        <img src="../../assets/7.jpg" alt="gallery" style="width:100%">
      </div>
      <div class="col pic3">
        <img src="../../assets/2.jpg" alt="gallery" style="width:100%">
      </div>
    </div>

    <div class="row">
      <div class="col pic4">
        <img src="../../assets/1.jpg" alt="gallery" style="width:100%">
      </div>
      <div class="col pic5">
        <img src="../../assets/4.jpg" alt="gallery" style="width:100%">
      </div>
      <div class="col pic6">
        <img src="../../assets/6.jpg" alt="gallery" style="width:100%">
      </div>
    </div>

  </div> 
</div>
