.bg-green {
  background-color: rgb(4, 67, 67);
  opacity: 80%;
}

.imgGif {
  width: 100%;
  height: auto;
}

.flexItem {
  width: 100%;
}

@media screen and (min-width: 445px) {
  .flexItem {
    width: 48%;
  }
}

video {
  width: 100%;
  height: auto;
}
