<div class="container mt-3">
  <div class="position-relative rounded-3">
    <img src="../../assets/bird.gif" class="imgGif" alt="bird gif" />
    <span
      class="position-absolute bottom-0 start-0 m-0 bg-green text-light p-2"
    >
      Our aim is to redefine India’s freshest and finest food experience for our
      customers. For us, our customers’ needs come first and to serve them
      better and offer the best in terms of quality, benefits, flavour and
      taste.
    </span>
  </div>

  <!-- VIDEO -->
  <div class="text-center mt-3">
    <video controls>
      <source src="../../assets/aboutVideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<!-- TILES -->
<div class="container mt-2">
  <div class="d-flex text-light flex-wrap justify-content-between">
    <div class="bg-green p-2 m-1 rounded-3 flexItem">
      <h5><i class="bi bi-basket"></i>&nbsp;100% ORGANIC</h5>
      <p>
        All our vegetables are fresh, organic and local. Animals are raised
        without added hormones or antibiotics. Good for your health, the
        environment, and it also tastes better!
      </p>
    </div>

    <div class="bg-green p-2 m-1 rounded-3 flexItem">
      <h5><i class="bi bi-truck"></i>&nbsp;FAST FREE DELIVERY</h5>
      <p>
        We have developed an effective and fast delivery network. We give our
        clients the earliest delivery consistent with quality, whatever the
        inconvenience to us be.
      </p>
    </div>

    <div class="bg-green p-2 m-1 rounded-3 flexItem">
      <h5><i class="bi bi-trophy"></i>&nbsp;RICH EXPERIENCE</h5>
      <p>
        We are working with organic products for 14 years and to be honest this
        is the best job ever – to see the people’s smiles when they taste our
        fresh food!
      </p>
    </div>

    <div class="bg-green p-2 m-1 rounded-3 flexItem">
      <h5><i class="bi bi-cart-check"></i>&nbsp;ORDER ANYTHING</h5>
      <p>
        We don't limit your creativity, which means you can order whatever you
        feel like. You can choose from our menu. It's up to you!
      </p>
    </div>
  </div>
</div>

<!-- text -->
<div class="container text-light mt-3 container p-2 bg-green rounded-3">
  <h5><i class="bi bi-columns-gap"></i>&nbsp;OUR RELATION</h5>
  <p>
    We are proud to be associated closely with the farmers from whom we source
    our fresh products. Most of our farm-fresh products are sourced directly
    from farmers, which not only ensures the best prices and freshest products
    for our customers but also helps the farmers get better prices. With more
    than 80 Organic Fruits and Vegetables and a wide range of organic staples,
    bigbasket has the largest range in the organic products category.
  </p>
</div>

<!-- IMAGES -->
<div class="row m-3">
  <div class="col" style="width: 100%">
    <i class="bi bi-camera fs-2 text-light"> Gallery </i>
    <div class="row">
      <div class="col m-0 p-0">
        <img src="../../assets/3.jpg" alt="gallery" style="width: 100%" />
      </div>
      <div class="col m-0 p-0">
        <img src="../../assets/7.jpg" alt="gallery" style="width: 100%" />
      </div>
      <div class="col m-0 p-0">
        <img src="../../assets/2.jpg" alt="gallery" style="width: 100%" />
      </div>
    </div>

    <div class="row">
      <div class="col m-0 p-0">
        <img src="../../assets/1.jpg" alt="gallery" style="width: 100%" />
      </div>
      <div class="col m-0 p-0">
        <img src="../../assets/4.jpg" alt="gallery" style="width: 100%" />
      </div>
      <div class="col m-0 p-0">
        <img src="../../assets/6.jpg" alt="gallery" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
