<div class="container mt-3">
<div class="position-relative  gifmain">
  <!-- BIRD GIF -->
    <img
      src="../../assets/bird.gif"
      alt="random image"
      width="100%"
      height="auto"
    />
    <div class="text-white mb-0 text-center position-absolute bottom-0 start-50 translate-middle-x" style="background-color: rgb(4,67,67); width:fit-content;">
    <p style="font-size:1.7vw; margin-bottom: 0;">Our aim is to redefine India’s freshest and finest food experience for our customers.<br>
      For us, our customers’ needs come first and to serve them better and offer the best in terms of quality, benefits, flavour and taste.
    </p>
  </div> 
</div>
</div>
<!-- VIDEO -->
<div class="container mt-3 text-center">
  <video controls autoplay muted>
    <source src="../../assets/aboutVideo.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<!-- TEXT -->
<div class="container mt-3 p-3 text-center"> 
    <p style="background-color: rgb(4,67,67); font-size: 1.7vw; border-radius: 10px;" class="text-light p-3">We are proud to be associated closely with the farmers from whom we source our fresh products. Most of our farm-fresh products are sourced directly from farmers, which not only ensures the best prices and freshest products for our customers but also helps the farmers get better prices. With more than 80 Organic Fruits and Vegetables and a wide range of organic staples, bigbasket has the largest range in the organic products category.</p>
</div>
<div><br><br><br>div>