<div class="container">
    <div class="p-3 m-2 text-center">
        <h3 class="text-light">
            <span class="p-2" style="background-color: rgb(4, 67, 67)">Add new product to the existing Product List</span>
        </h3>
    </div>
    <form class="form" #ref="ngForm" (ngSubmit)="submitProductData(ref)">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="productname" placeholder="pname" name="productName" ngModel required />
            <label for="productname">Product Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="productprice" placeholder="price" name="productPrice"
                ngModel />
            <label for="productprice">Product Price</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="productbrand" name="productBrand" ngModel required >
                <option value="">Select Product Type</option>
                <option value="Organic">Organic</option>
                <option value="Inorganic">Inorganic</option>
            </select>
            <label for="productbrand">Product Type</label>
        </div>

        <div class="form-floating mb-3">
                <select class="form-select" id="productcategory" name="productCategory" ngModel required >
                    <option value="">Select Category Type</option>
                    <option value="Fruits">Fruits</option>
                    <option value="Vegetables">Vegetables</option>
                </select>    
            <label for="productcategory">Product Category</label>
        </div>

        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="productdescription" placeholder="Product Description here" name="productDescription" ngModel required  style="height: 100px"></textarea>
            <label for="productdescription">Product Description</label>
          </div>

        <div class="form-group mb-3">
            <label for="uploadphoto" class="form-label rounded bg-light m-0 px-2">Upload picture of the Product</label>
                <input type="file" #photo  id="uploadphoto"  class="form-control" (change)="incomingfile($event)" name="photo" accept="image/*" ngModel required />
        </div>

        <div class="text-center mb-3">
            <button class="btn btn-success" value="submit">Submit</button>
        </div>
    </form>
</div>