<div class="container-xl">
  <div class="my-3">
    <p class="text-light bg-green fs-5 p-2 my-2 rounded">
      <span class="ms-2">Organic : Fruits</span>
    </p>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-sm-1 g-2 g-lg-3">
      <div class="col" *ngFor="let product of productsOrgaincFruits">
        <div
          class="card m-1"
          (click)="details(product.productId)"
          style="cursor: pointer"
        >
          <img
            [src]="product.productImage"
            class="card-img-top"
            width="200px"
            height="200px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">{{ product.productName }}</h5>
            <p class="card-text text-center fw-bolder">
              ₹ {{ product.productPrice }}
            </p>
            <div class="d-grid gap-1">
              <button
                class="btn btn-success"
                type="button"
                (click)="addToCart($event, product)"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3">
      <p class="text-light bg-green fs-5 p-2 my-2 rounded">
        <span class="ms-2">Organic : Vegetables</span>
      </p>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-sm-1 g-2 g-lg-3">
        <div
          class="col"
          *ngFor="let product of productsOrgaincVegetables"
          (click)="details(product.productId)"
        >
          <div
            class="card m-1"
            style="cursor: pointer"
            (click)="details(product.productId)"
          >
            <img
              [src]="product.productImage"
              class="card-img-top"
              width="200px"
              height="200px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ product.productName }}</h5>
              <p class="card-text text-center fw-bolder">
                ₹ {{ product.productPrice }}
              </p>
              <div class="d-grid gap-1">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="addToCart(product)"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    <p class="text-light bg-green fs-5 p-2 my-2 rounded">
      <span class="ms-2">Inorganic : Fruits</span>
    </p>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-sm-1 g-2 g-lg-3">
      <div class="col" *ngFor="let product of productsInorgaincFruits">
        <div
          class="card m-1"
          style="cursor: pointer"
          (click)="details(product.productId)"
        >
          <img
            [src]="product.productImage"
            class="card-img-top"
            width="200px"
            height="200px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">{{ product.productName }}</h5>
            <p class="card-text text-center fw-bolder">
              ₹ {{ product.productPrice }}
            </p>
            <div class="d-grid gap-1">
              <button
                class="btn btn-success"
                type="button"
                (click)="addToCart($event, product)"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3">
      <p class="text-light bg-green fs-5 p-2 my-2 rounded">
        <span class="ms-2">Inorganic : Vegetables</span>
      </p>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-sm-1 g-2 g-lg-3">
        <div class="col" *ngFor="let product of productsInorgaincVegetables">
          <div
            class="card m-1"
            style="cursor: pointer"
            (click)="details(product.productId)"
          >
            <img
              [src]="product.productImage"
              (click)="details(product.productId)"
              class="card-img-top"
              width="200px"
              height="200px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ product.productName }}</h5>
              <p class="card-text text-center fw-bolder">
                ₹ {{ product.productPrice }}
              </p>
              <div class="d-grid gap-1">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="addToCart(product)"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
