  <!-- RANDOM STUFF -->
  <div class=" container my-1" style="background-color: rgb(4,67,67);"><p class="text-light ms-1 fs-5 py-2 ">Vegetables</p></div>
  <div class="container">
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    </div>
  
    <!-- RANDOM STUFF -->
  <div class="container my-1" style="background-color: rgb(4,67,67);"><p class="text-light ms-1 fs-5 py-2 ">Fruits</p></div>
  <div class="container">
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img src="https://media.giphy.com/media/26gs9jTY1R02ueEnu/giphy.gif" width="240" height="240" /><br>
    </div>
    <div class=" d-inline-block mx-4 my-2">
      <img  src="https://media.giphy.com/media/QHsMhRci6hfSqerbXy/giphy.gif" width="240" height="240" />
    </div>
    </div>
  
