<div class="container bg-light rounded">
  <h3 class="fw-bold text-center p-3">User Profile</h3>
  <div class="row mt-3">
    <div class="col-sm-4 mt-3">
      <img src="../../../assets/userprofile.jpg" style="max-height: 300px" class="d-block mx-auto img-fluid" />
    </div>
    <div class="col-sm-6">
      <div class="form">
        <div class="form-group mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" placeholder="username" name="username"
            [value]="userObj?.userName" disabled />
        </div>
        <div class="form-group mb-2">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="email" [value]="userObj?.email"
            disabled />
        </div>

        <div class="form-group mb-2">
          <label for="phone" class="form-label">Phone :</label>
          <input #phone type="phone" class="form-control" id="phone" name="phone" placeholder="Phone number"
            [value]="userObj?.phone" ngModel readonly />
        </div>
      </div>

      <div class="my-3 text-center">
        <button class="btn btn-success" (click)="updateProfile()">
          Update User Details
        </button>
      </div>

      <div *ngIf="key">
        <form class="form" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
          <div class="form-group mb-2">
            <label for="phone" class="form-label">Phone :</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="0123456789" ngModel />
          </div>
          <div class="my-3 text-center">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-2"></div>
  <!-- <br /><br /><br /><br /><br /> -->
</div>

<hr />
<div class="container bg-light rounded p-3">
  <h3 class="fw-bold text-center p-3">Order History</h3>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let order of ordersArray; let i = index">
      <h2 class="accordion-header" id="heading{{i}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]='"#collapse"+i' aria-expanded="false" aria-controls="collapse{{i}}">
          <span class="d-block"> Order No. {{i+1}}</span>
          <span class="d-block ms-auto"> {{ order.dateNow }}</span>
          <span class="d-block ms-auto">₹{{ order.total }}</span>
        </button>
      </h2>
      <div id="collapse{{i}}" class="accordion-collapse collapse" aria-labelledby="heading{{i}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center fw-bold fs-6">Items list</p>
              <!-- <div class="row fw-bolder">
                <div class="col-md-3">Sno.</div>
                <div class="col-md-3">Name</div>
                <div class="col-md-3">Quantity*Price</div>
                <div class="col-md-3">Price</div>
              </div>
              <div class="row" *ngFor="let product of order.products; let j = index">
                <div class="col-md-3"></div>
                <div class="col-md-3">{{ product.productName }}</div>
                <div class="col-md-3">{{ product.quantity }} X {{ product.productPrice }}</div>
                <div class="col-md-3">₹{{product.quantity * product.productPrice }}</div>
              </div> -->

              <table class="table table-borderless table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Qty * Price</th>
                    <th scope="col">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of order.products; let j = index">
                    <th scope="row">{{ j + 1 }}</th>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.quantity }} X {{ product.productPrice }}</td>
                    <td>₹{{product.quantity * product.productPrice }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="col-md-4 text-center lh-sm fs-6">
              <p class="text-center fw-bold">Address</p>
              <p>{{order.address.firstName +' '+ order.address.lastName}}</p>
              <p>{{order.address.email}}</p>
              <p>{{order.address.address1}}</p>
              <p>{{order.address.address2}}</p>
              <p>{{order.address.City}}, {{order.address.State}} , {{order.address.Zip}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
