<div class="container bg-light rounded p-2 my-3">
  <h3 class="fw-bold text-center p-3">User Profile</h3>
  <div class="row p-2">
    <div class="col-sm-4 mt-3">
      <img
        src="../../../assets/userprofile.jpg"
        style="max-height: 300px"
        class="d-block mx-auto img-fluid"
      />
    </div>
    <div class="col-sm-8">
      <div class="form">
        <div class="form-group mb-2">
          <label for="username" class="form-label">Username :</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="username"
            name="username"
            [value]="userObj?.userName"
            disabled
          />
        </div>
        <div class="form-group mb-2">
          <label for="email" class="form-label">Email :</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="email"
            [value]="userObj?.email"
            disabled
          />
        </div>

        <div class="form-group mb-2">
          <label for="phone" class="form-label">Phone :</label>
          <input
            #phone
            type="phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Phone number"
            [value]="userObj?.phone"
            ngModel
            readonly
          />
        </div>
      </div>

      <div class="d-flex justify-content-between m-1">
        <button class="btn btn-success w-100 me-1" (click)="updateProfile()">
          Update Phone
        </button>
        <button class="btn btn-success w-100 ms-1" (click)="updatePassword()">
          Update Password
        </button>
      </div>

      <div *ngIf="keyPhone">
        <hr />
        <form
          class="form"
          #phoneRef="ngForm"
          (ngSubmit)="onSubmitPhone(phoneRef)"
        >
          <div class="form-floating my-2">
            <input
              type="phone"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="Phone number"
              ngModel
              #phone="ngModel"
              required
              minlength="10"
              maxlength="10"
              [class.is-valid]="phone.valid"
              [class.is-invalid]="
                (phone.touched || phoneRef.submitted) && !phone.valid
              "
            />
            <label for="phone">Phone</label>
            <div class="invalid-feedback bg-warning m-0 fw-bolder">
              Please enter valid phone number
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>

      <!-- Password Change HTML-->
      <div *ngIf="keyPassword">
        <hr />
        <form
          class="form"
          #pwdRef="ngForm"
          (ngSubmit)="onSubmitPassword(pwdRef)"
        >
          <!-- Old password -->
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control"
              id="currentpwd"
              name="currentpwd"
              placeholder="Enter Current Password number"
              ngModel
              #currentpwd="ngModel"
              required
              [class.is-valid]="currentpwd.valid"
              [class.is-invalid]="
                (currentpwd.touched || pwdRef.submitted) && !currentpwd.valid
              "
            />
            <label for="currentpwd">Current Password</label>
            <div
              id="currentpwd"
              class="invalid-feedback bg-warning m-0 fw-bolder"
            >
              Current password is required
            </div>
          </div>
          <!-- New Password -->
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control"
              id="newpwd"
              name="newpwd"
              placeholder="Enter Current Password number"
              ngModel
              #newpwd="ngModel"
              required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
              [class.is-valid]="newpwd.valid"
              [class.is-invalid]="
                (newpwd.touched || pwdRef.submitted) && !newpwd.valid
              "
            />
            <label for="newpwd">New Password</label>
            <div id="newpwd" class="invalid-feedback bg-warning m-0 fw-bolder">
              Password must contain atleast one Lowercase, Uppercase, Number,
              Special-character and length should be minimum 8 characters
            </div>
          </div>
          <div class="form-floating mb-2">
            <input
              type="password"
              class="form-control"
              id="newpwd2"
              name="newpwd2"
              placeholder="Enter Current Password number"
              ngModel
              #newpwd2="ngModel"
              required
              [class.is-valid]="newpwd2.valid && newpwd.value == newpwd2.value"
              [class.is-invalid]="
                (newpwd2.touched || pwdRef.submitted) &&
                newpwd.value != newpwd2.value
              "
            />
            <label for="newpwd2">Retype new Password</label>
            <div id="newpwd2" class="invalid-feedback bg-warning m-0 fw-bolder">
              Passwords not matched
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ORDER HISTORY -->
<div class="container bg-light rounded p-2 mb-3">
  <h3 class="fw-bold text-center p-2">Order History</h3>
  <div class="accordion" id="accordionExample">
    <div
      class="accordion-item"
      *ngFor="let order of ordersArray; let i = index"
    >
      <h2 class="accordion-header" id="heading{{ i }}">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="false"
          aria-controls="collapse{{ i }}"
        >
          <span class="d-block"> Order No. {{ i + 1 }}</span>
          <span class="d-block ms-auto"> {{ order.dateNow }}</span>
          <span class="d-block ms-auto">₹{{ order.total }}</span>
        </button>
      </h2>
      <div
        id="collapse{{ i }}"
        class="accordion-collapse collapse"
        aria-labelledby="heading{{ i }}"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center fw-bold">Items list</p>
              <table class="table table-borderless table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Qty * Price</th>
                    <th scope="col">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of order.products; let j = index">
                    <th scope="row">{{ j + 1 }}</th>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.quantity }} X {{ product.productPrice }}</td>
                    <td>₹{{ product.quantity * product.productPrice }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 text-center">
              <span class="text-center fw-bold p-2">Address</span>
              <br />
              <br />
              <p>
                {{ order.address.firstName + " " + order.address.lastName }}
                <br />{{ order.address.email }} <br />
                {{ order.address.address1 }}
                <br />{{ order.address.address2 }}<br />
                {{ order.address.City }}, {{ order.address.State }} ,
                {{ order.address.Zip }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
