/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: #FDD887; */
    background-image: url(./assets/photo-1500382017468-9049fed747ef.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}