<div class="container">
  <div class="my-3">
    <input
      #searchText
      class="form-control"
      type="search"
      placeholder="Search by Product name"
      aria-label="Search"
      name="searchText"
      ngModel
      [(ngModel)]="searchText.value"
    />
  </div>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-sm-1 g-2 g-lg-3">
    <div
      class="col"
      *ngFor="let product of productsArray | searchFilter : searchText.value"
    >
      <div
        class="card m-1"
        style="cursor: pointer"
        (click)="details(product.productId)"
      >
        <img
          [src]="product.productImage"
          class="card-img-top"
          width="200px"
          height="200px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ product.productName }}</h5>
          <p class="card-text text-center fw-bolder">
            ₹ {{ product.productPrice }}
          </p>
          <div class="d-grid gap-1">
            <button
              class="btn btn-success"
              type="button"
              (click)="addToCart(product)"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
